node_modules
.next
out
dist
.git
.gitignore
coverage
*.log
.turbo
.vercel
db/*.db
db/*.db-journal
prisma/*.db
prisma/*.db-journal
prisma/migrations
.env
.env.local
.python-version
.venv
__pycache__
.mypy_cache
.pytest_cache
